{% include 'header.html' %}
<div class="container">
    <div class="main-content">
        {% include 'side_bar.html' %}
<div class="image-container">
    {% if histograms %}
        {% for histogram in histograms %}
        <div>
            <img src="{{ url_for('static', filename='histograms/' ~ histogram) }}" alt="Histograma">
        </div>
    {% endfor %}
    {% else %}
        <p>No se encontraron histogramas.</p>
    {% endif %}
</div>

</div>
</div>
{% include'footer.html' %}