<div class="sidebar">
    <p>Opciones disponibles</p>
    <br>
    <ul class="sidebar-links">
        <li><a href="{{ url_for('details') }}">Detalle</a></li>
        <li><a href="{{ url_for('histograms') }}">Histogramas</a></li>
        <li><a href="{{ url_for('box_plots') }}">Diagramas de caja</a></li>
        <li><a href="{{ url_for('correlation_matrix') }}">Matriz de Correlación</a></li>
        <li><a href="{{ url_for('bar_plots') }}">Diagramas de barras</a></li>
        <br>
        <li><a href="#top">Subir</a></li>
    </ul>
</div>